<section class="card narrow center">
  <h1>Signature Submitted</h1>
  <p>Thank you. Your digital signature has been recorded.</p>
  <p>Your Employee ID: <strong><%= employee_code %></strong></p>
  <p>You will receive your company ID from admin soon.</p>
  <div style="margin:12px 0">
    <a class="btn" href="/employee/employee-id/<%= employee_code %>.pdf" target="_blank">Download Employee ID</a>
  </div>
  <a class="btn" href="/">Go Home</a>
</section>


